<div id="<%= dom_id owner_post %>">
  <p>
    <strong>Place:</strong>
    <%= owner_post.place %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= owner_post.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= owner_post.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= owner_post.end_time %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= owner_post.memo %>
  </p>

</div>
