<p style="color: green"><%= notice %></p>

<%= render @owner_post %>

<div>
  <%= link_to "Edit this owner post", edit_owner_post_path(@owner_post) %> |
  <%= link_to "Back to owner posts", owner_posts_path %>

  <%= button_to "Destroy this owner post", @owner_post, method: :delete %>
</div>
